<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61110731159-rr53dkqvr4dvp5grmk00umfiaanurq2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61110731159-rr53dkqvr4dvp5grmk00umfiaanurq2u</string>
	<key>API_KEY</key>
	<string>AIzaSyAydmY5Ier9DPus867fSVNA1VpalaCefqk</string>
	<key>GCM_SENDER_ID</key>
	<string>61110731159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mm.NewsApplication</string>
	<key>PROJECT_ID</key>
	<string>newsapplication-76e36</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapplication-76e36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61110731159:ios:6db914bb73141d3d3e44d2</string>
</dict>
</plist>